@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Northwind Way Dr.<br />
    Indianapolis, IN 46205<br />
    <abbr title="Phone">P:</abbr>
    317.525.3654
</address>

<address>
    <strong>Help Desk Support:</strong>   <a href="mailto:NorthwindHelpDesk@northwind.com">NorthwindHelpDesk@Northwind.com</a><br />
</address>