@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Northwind Products</h1>
    <p class="lead">Northwind Products is a leading provider in bulk food and resturant products.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Back end system for product management for employee processing of products.</p>
        <p>If any issues please reach out the Help Desk.</p>
    </div>
</div>